
/* Login */

div.login-container {
	max-width: 100vw;
	height: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	background-color: #EDF0F5;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 400px; 
	text-align: center;
}

/*div.login-container h1 {
	margin: 10px 50px;
	background-color: #188AE2;
	border-radius: 0px;
	font-weight: 900;
	font-size: 50px;
    text-transform: none;
	color: #FFFFFF;
	text-align: center;
	box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
	position: center;
    }*/
    h1.titlu {
    text-align: left;
    color: #333;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin-bottom: 22px;
    padding: 16px;
    border-bottom: solid 1px ;
}

div.login-container div.login-content {
	background-color: #fff;
	margin: auto; /*70px 40px 0 40px*/
	padding: 50px;
	border-radius: 0px;
	opacity: 0.8;
	box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
	position: absolute;
	width: 350px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

div.login-container form {
	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 19px;
	color: #6A6C6F;
	text-align: center;
	margin-top: 40px;
}	

div.login-container input {
	width: 210px;
	height: 30px;
	padding-left: 7px;
	margin-top: 5px;
}

div.login-container div.error {
	width: 200px;
	background: red;
	color: white;
	margin-top: 15px;
	padding: 10px;
	font-size: 12px;
	display: none;
}

div.login-container div.uitat-parola {
	margin-top: 0px;
	margin-left: 100px;
	font-weight: bold;
}

div.login-container div.link-container {
	margin-top: 35px;
}

div.login-container div.link-container a {
	width: 200px;
	background-color: #188AE2;
	border: 2px solid #188AE2;
	border-radius: 10px;
	color: white;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	padding: 10px 20px;
}

div.login-container div.link-container a:hover {
	color: lightgrey;
	background-color: #1576c2;
}

@media only screen and (max-width: 480px) {
	div.login-content {
		margin: 60px 15px 100px 15px;
		height: 270px;
		width: 200px;
		padding: 25px;
		border-radius: 20px;
	}

	div.login-container h1 {
		font-size: 22px;
		margin: 0;
	}

	div.login-container input {
		width: 185px;
	}

	div.login-container div.error {
		width: 180px;

	}
}




