	a {
		background-color:#EDF0F5;
		border: 2px solid #2E3F51;
		border-radius: 10px;
		color: #2E3F51;
		font-size: 20px;
		padding: 10px 90px;
		text-decoration: none; 
	}

	a:hover {
		background-color: #2E3F51;
		color: white;
	}

	body {
		background-color: #EDF0F5;
		font-size: 20px;
		text-align: center;
	}


	#footer {
		background-color: #188AE2;
		border:1px solid #188AE2;
		border-radius: 10px;
		color:white;
		font-size: 13px;
		padding:15px;
		text-align: center;
	}

	#header {
		background-color: #188AE2;
		border:1px solid #188AE2;
		border-radius: 10px;
		color:white;
		font-size: 18px;
		padding:15px;
		text-align: center;
	}

	input {
		padding: 5px;
		width:250px;
	}

	legend {
		font-weight: bold;
	}
