div.reset-container {
    background-color: #FFFFFF;
	text-align: center;
	margin: 55px 0 60px 340px;
	padding: 75px;
	border-radius: 10px;
	width: 500px;
	opacity: 0.8;
	box-shadow: 1px 1px 1px 1px #888888;
}

div.reset-container div.reset-text p {
	font-weight: bold;
	font-size: 17px;
}

div.reset-container div.reset input {
	padding: 8px;
	text-align: center;
	background-color: #222324;
	color: white;
}

div.reset-container div.confpsw input {
	padding: 8px;
	text-align: center;
	background-color: #222324;
	color: white;
}

div.reset-container div.invalid {
	color: red;
	font-weight: bold;
	display: none;
}
div.reset-container div.confirm {
	margin-top: 20px;
}

div.reset-container div.confirm input {
	background-color: black;
	color: white;
	padding: 10px;
	font-weight: bold;
	font-size: 17px;
	border-radius: 10px;
}

@media only screen and (max-width: 500px) {
	div.reset-container {
		padding-left: 50px;
		margin: 50px 10px 50px 3px;
		height: 270px;
		width: 165px;
		border-radius: 20px;
	}

	div.reset-container div.invalid {
		font-size: 13px;
	}

	div.reset-container div.confirm input {
		margin-left: 20px;
	}
}